<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibatec | Tecnología y soluciones digitales</title>
    <link rel="stylesheet" href="/css/styleindex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="header-phone">
                <div class="header-logo">
                    <img src="../diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"><a href="#"></a>
                </div>
                <div class="header-menu">
                    <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                </div>
            </div>
            <div class="nav-complete">
                <nav class="nav-bar">
                    <ul class="lista-horizontal">
                        <li class="horizontal-item">
                        <a href="#" class="">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class="">Servicios <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        </li>
                    </ul>

                    <ul class="lista-horizontal">
                        <li class="horizontal-item">
                        <a href="#" class="">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class=""><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </nav>   
            </div>
        </div>
    </header>
    <main>
      <!--ya comenzaré a trabajar en el contenido-->  
    </main>
</body>
</html>