<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibatec | Tecnología y soluciones digitales</title>
    <link rel="shortcut icon" href="../design/at-logo-favicon.png">
    <link rel="stylesheet" href="/css/styleindex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="header-content">
            <div class="header-phone">
                <div class="header-logo">
                    <img src="/diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"><a href="#"></a>
                </div>
<!--Menu responsive-->
                <div class="header-menu">
                    <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                    <ul class="menu">
                        <li class="menu-item-container-submenu">
                            <a href="/producto" class="submenu-btn">Productos <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-pro">
                                <li class="menu-item"><a href="">Computadoras</a></li>
                                <li class="menu-item"><a href="">Notebooks</a></li>
                                <li class="menu-item"><a href="">Tablets</a></li>
                                <li class="menu-item"><a href="">Telefonos</a></li>
                                <li class="menu-item"><a href="">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Servicios</a></li>
                        <li class="menu-item-container-submenu"><a href="#" class="submenu-btn">Cuenta <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-cuenta">
                                <li class="menu-item"><a href="/register">Registrarse</a></li>
                                <li class="menu-item"><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Carrito</a></li>
                    </ul>
                </div>
            </div>
<!--menu header-->
            <div class="nav-complete">
                <nav class="nav-bar">
                    <ul class="lista-horizontal">
                        <li class="horizontal-item">
                        <a href="/producto">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Computadoras</a></li>
                                <li><a href="#">Notebooks</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Telefonos</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class="">Servicios</a>
                        </li>
                    </ul>

                    <ul class="lista-horizontal">
                        <li class="horizontal-item"><a href="#">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/register">Registrarse</a></li>
                                <li><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class=""><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
<!--Carrusel corporativo-->
        <div class="carrusel">
            <ul class="slider">
                <li id="slide1">
                    <img src="/img/marketing/slide11.jpg" alt="slide1">
                </li>
                <li id="slide2">
                 <img src="/img/marketing/slide222.jpg" alt="slide2">   
                </li>
                <li id="slide3">
                    <img src="/img/marketing/slide2.jpg" alt="slide3">
                </li>
            </ul>
        </div>
        <div class="comentario">
            <h2 class="inv-text">TECNOLOGÍA A UN CLICK</h2>
            <h3 class="cita-text">La tecnología hizo posible las grandes poblaciones; ahora las grandes poblaciones hacen que la tecnología sea indispensable. (José Krutch)</h3>
        </div>    
        <br>
<!--productos destacados-->
        <section class="destacados">
            <div class="producto">
                <div class="img-product">
                    <img class="images" src="/img/productos/A-watch.jpg" alt="a-watch">
                </div>
                <div class="precio-detalle">
                    <div class="detalle-producto">
                        <div class="tipo">
                            <a href="/producto">Apple Watch</a>
                        </div>
                     <a href="/producto" class="precio">$68.000</a>
                    </div>
                    <div class="buy">
                        <a href="/producto" class="buy-btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="producto">
                <div class="img-product">
                    <img class="images" id="tlf" src="/img/productos/iphone-8.jpg" alt="I-8plus">
                </div>
                <div class="precio-detalle">
                    <div class="detalle-producto">
                        <div class="tipo">
                            <a href="/producto">Iphone 8 Plus</a>
                        </div>
                        <a href="/producto" class="precio">$115.000</a>
                    </div>
                    <div class="buy">
                        <a href="/producto" class="buy-btn">Comprar</a>
                    </div>
                </div>
            </div>  
            <div class="producto">
                <div class="img-product">
                    <img class="images" id="tbl" src="/img/productos/OIP.jpg" alt="ipad">
                </div>
                <div class="precio-detalle">
                    <div class="detalle-producto">
                        <div class="tipo">
                            <a href="/producto">Ipad mini 5</a>
                        </div>
                        <a href="/producto" class="precio">$100.000</a>
                    </div>
                    <div class="buy">
                        <a href="/producto" class="buy-btn">Comprar</a>
                    </div>
                </div>
            </div>      
        </section>
        <br>
        <div class="ver-todo">
            <a href="#" class="ver-btn">VER TODO</a>
        </div>
        <br>
<!--Ofrecimiento de Alibatec-->
        <section class="ofrecimiento">
            <div class="ofre-img">
                <img class="imgpro" src="/img/productos/imac.jpg" alt="imac.image">
                <div class="descrip">
                    <h3 class="titulo">Computadoras</h3>
                    <a href="/producto" class="boton-ver">Ver productos</a>
                </div>    
            </div>
            <div class="ofre-img">
                <img class="imgpro" src="/img/productos/ipad-pro.jpg" alt="ipad.image">
                <div class="descrip">
                    <h3 class="titulo">Portátiles</h3>
                    <a href="/producto" class="boton-ver">Ver productos</a>
                </div>
            </div>
            <div class="ofre-img">
                <img class="imgpro" src="/img/productos/servi.jpg" alt="servi.image">
                <div class="descrip">
                    <h3 class="titulo">Servicios</h3>
                    <a href="/producto" class="boton-ver">Conoce</a>
                </div>    
            </div>
        </section>
<!--carrusel de marcas-->
        <section class="carrusel-de-marcas">
            <ul class="marcas">
                <li><img src="/img/marcas/apple-logo.png"></li>
                <li><img src="/img/marcas/asus-logo.png"></li>
                <li><img src="/img/marcas/hp-logo.png"></li>
                <li><img src="/img/marcas/lenovo-logo.png"></li>
                <li><img src="/img/marcas/motorola-logo.png"></li>
                <li><img src="/img/marcas/xiaomi-logo.png"></li>
            </ul>
        </section>
        <br>
        <h2 class="linea-separacion">En Oferta</h2>
        <br>
<!--OFERTAS-->
        <section class="ofertas">
            <div class="pro-oferta">
                <div class="imagen-prod">
                    <img class="imag" src="/img/productos/tablet-lenovo.jpg" alt="tab-lenovo">
                </div>
                <div class="ofer-detalle">
                    <div class="pro-deta">
                        <div class="tip">
                            <a href="/producto">Tablet Lenovo Yoga</a>
                        </div>
                     <a href="/producto" class="descu">25%OFF</a>
                    </div>
                    <div class="buys">
                        <a href="/producto" class="buys-btn">Comprar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="pro-oferta">
                <div class="imagen-prod">
                    <img class="imag" src="/img/productos/i.png" alt="i-12pro">
                </div>
                <div class="ofer-detalle">
                    <div class="pro-deta">
                        <div class="tip">
                            <a href="/producto">Iphone 12 Pro</a>
                        </div>
                        <a href="/producto" class="descu">20%OFF</a>
                    </div>
                    <div class="buys">
                        <a href="/producto" class="buys-btn">Comprar Ahora</a>
                    </div>
                </div>
            </div>  
            <div class="pro-oferta">
                <div class="imagen-prod">
                    <img class="imag" src="/img/productos/auriculares-samsung-galaxy-buds-pro.jpg" alt="auriculares-samsung">
                </div>
                <div class="ofer-detalle">
                    <div class="pro-deta">
                        <div class="tip">
                            <a href="/producto">Auriculares Samsung Buds</a>
                        </div>
                        <a href="/producto" class="descu">30%OFF</a>
                    </div>
                    <div class="buys">
                        <a href="/producto" class="buys-btn">Comprar Ahora</a>
                    </div>
                </div>
            </div>     
            <div class="pro-oferta">
                <div class="imagen-prod">
                    <img class="imag" id="aur" src="/img/productos/imac-i5-21.5.jpg" alt="imac">
                </div>
                <div class="ofer-detalle">
                    <div class="pro-deta">
                        <div class="tip">
                            <a href="/producto">Apple imac 21.5"</a>
                        </div>
                        <a href="/producto" class="descu">10%OFF</a>
                    </div>
                    <div class="buys">
                        <a href="/producto" class="buys-btn">Comprar Ahora</a>
                    </div>
                </div>
            </div>  
        </div> 
    </section>
    </main>
</body>
<!--Footer-->
<footer class="footer-complete">
    <div class="suscribirse">
        <div class="texto-sus">
            <h2 class="suscrib-text">¡Suscríbete!</h2>
            <p class="enterate">Entérate de nuestras promociones y novedades de productos</p>
        </div>
        <div class="sus-mail">
            <input type="email" name="email" placeholder="Tu correo electrónico" class="insert-email">
            <input type="submit" value="Suscribirse" class="enviar-sus"> 
        </div>
    </div>
    <br>
    <div class="contact-redes">
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Nosotros</h2>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">¿Qué ofrecemos?</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Métodos de pago</h2>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> Crédito | Débito | Giftcard</a></li>
                <li><a href="#"><i id="icon" class="far fa-money-bill-alt"></i> Rappipago | Pago fácil</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Contacto</h2>
                <li><a href="#"><i id="icon" class="far fa-envelope"></i> grupo3.alibatec@gmail.com</a></li>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> +54 9 11 33202300</a></li>
                <li><a href="#"><i id="icon" class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            </ul>
        </div>
        <div class="siguenos">
            <h2 class="red">Siguenos en nuestras redes sociales</h2>
            <div class="iconos-redes">
                <ul class="ul-conct">
                    <li><a href="#"><i id="icon-red" class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-facebook-f"></i></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-twitter"></i></a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="logo-final">
        <a href="/"><img src="/diseno/logos/at-logo-completo-45.png" alt="logo-alibatec" class="logo-footer"></a>
    </div>
    <div class="copyright">
        <h2>Copyright © 2021 | Tecnología y soluciones digitales</h2>
    </div>

</footer>
</html>