<!DOCTYPE html>
<html lang="en">

<!--Codigo Correspondiente a Head-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibatec | Tecnología y soluciones digitales</title>
    <link rel="stylesheet" href="/css/styleindex.css">
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<!--Codigo Correspondiente a Body-->
<body>

    <!--Codigo Correspondiente a Header-->
    <header class="header">
        <div class="header-content">
            <div class="header-phone">
                <div class="header-logo">
                    <img src="/diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"><a href="#"></a>
                </div>
<!--Menu responsive-->
                <div class="header-menu">
                    <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                    <ul class="menu">
                        <li class="menu-item-container-submenu">
                            <a href="#" class="submenu-btn">Productos <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-pro">
                                <li class="menu-item"><a href="">Computadoras</a></li>
                                <li class="menu-item"><a href="">Notebooks</a></li>
                                <li class="menu-item"><a href="">Tablets</a></li>
                                <li class="menu-item"><a href="">Telefonos</a></li>
                                <li class="menu-item"><a href="">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Servicios</a></li>
                        <li class="menu-item-container-submenu"><a href="#" class="submenu-btn">Cuenta <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-cuenta">
                                <li class="menu-item"><a href="/register">Registrarse</a></li>
                                <li class="menu-item"><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Carrito</a></li>
                    </ul>
                </div>
            </div>
<!--menu header-->
            <div class="nav-complete">
                <nav class="nav-bar">
                    <ul class="lista-horizontal">
                        <li class="horizontal-item">
                        <a href="#" class="">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Computadoras</a></li>
                                <li><a href="#">Notebooks</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Telefonos</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class="">Servicios</a>
                        </li>
                    </ul>

                    <ul class="lista-horizontal">
                        <li class="horizontal-item"><a href="#">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/register">Registrarse</a></li>
                                <li><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="#" class=""><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--Codigo Correspondiente a Main-->
    <main>

        <!--Codigo Correspondiente a Section Formulario-->
        <section class="formulario__contenedor" id="grupo__contenedor">

            <form method="post" action="" class="formulario" id="formulario">

                <!--Codigo Correspondiente a Grupo Nombre-->
                <div class="formulario__grupo" id="grupo__nombre">
                    <label for="nombre" class="formulario__label">Nombre</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Ingrese su Nombre">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Ingrese un Nombre valido.</p>
                </div>

                <!--Codigo Correspondiente a Grupo Apellido-->
                <div class="formulario__grupo" id="grupo__apellido">
                    <label for="apellido" class="formulario__label">Apellido</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="Ingrese su Apellido">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Ingrese un Apellido valido.</p>
                </div>

                <!--Codigo Correspondiente a Grupo E-Mail-->
                <div class="formulario__grupo" id="grupo__email">
                    <label for="email" class="formulario__label">E-Mail</label>
                    <div class="formulario__grupo-input">
                        <input type="email" class="formulario__input" name="email" id="email" placeholder="email@email.com">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Ingrese un E-Mail valido.</p>
                </div>

                <!--Codigo Correspondiente a Grupo Contraseña-->
                <div class="formulario__grupo" id="grupo__password">
                    <label for="password" class="formulario__label">Contraseña</label>
                    <div class="formulario__grupo-input">
                        <input type="password" class="formulario__input" name="password" id="password" placeholder="Ingrese su Contraseña">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña debe tener de 6 a 12 digitos.</p>
                </div>

                <!--Codigo Correspondiente a Grupo Contraseña Validacion-->
                <div class="formulario__grupo" id="grupo__password2">
                    <label for="password2" class="formulario__label">Validar Contraseña</label>
                    <div class="formulario__grupo-input">
                        <input type="password2" class="formulario__input" name="password2" id="password2" placeholder="Valide su Contraseña">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña debe coincidir.</p>
                </div>

                <!--Codigo Correspondiente a Terminos y Condiciones-->
                <div class="formulario__grupo" id="grupo__tyc">
                    <label class="formulario__label">
                        <input class="formulario__checkbox" type="checkbox" name="tyc" id="tyc">
                        Acepto los Terminos y Condiciones
                    </label>
                </div>

                <!--Codigo Correspondiente a Mensaje de Error-->
                <div class="formulario__mensaje" id="formulario__mensaje">
                    <p><i class="fas fa-exclamation-triangle"></i><b>Error: </b>Complete su Formulario correctamente.</p>
                </div>

                <!--Codigo Correspondiente a Boton de Envio-->
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <button type="submit" class="formulario__btn">Enviar</button>
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Usuario Registrado con Exito!</p>
                </div>                

            </form>

        </section>

        <!--Codigo Correspondiente a Div Banner-->
        <div class="banner">
            <img src="public/img/Marketing/at-marketing5.jpg">
        </div>

    </main>

</body>

<!--Codigo Correspondiente a Div Footer-->
<footer class="footer-complete">
    <div class="suscribirse">
        <div class="texto-sus">
            <h2 class="suscrib-text">¡Suscríbete!</h2>
            <p class="enterate">Entérate de nuestras promociones y novedades de productos</p>
        </div>
        <div class="sus-mail">
            <input type="email" name="email" placeholder="Tu correo electrónico" class="insert-email">
            <input type="submit" value="Suscribirse" class="enviar-sus"> 
        </div>
    </div>
    <br>
    <div class="contact-redes">
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Nosotros</h2>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">¿Qué ofrecemos?</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Métodos de pago</h2>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> Crédito | Débito | Giftcard</a></li>
                <li><a href="#"><i id="icon" class="far fa-money-bill-alt"></i> Rappipago | Pago fácil</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Contacto</h2>
                <li><a href="#"><i id="icon" class="far fa-envelope"></i> grupo3.alibatec@gmail.com</a></li>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> +54 9 11 33202300</a></li>
                <li><a href="#"><i id="icon" class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            </ul>
        </div>
        <div class="siguenos">
            <h2 class="red">Siguenos en nuestras redes sociales</h2>
            <div class="iconos-redes">
                <ul class="ul-conct">
                    <li><a href="#"><i id="icon-red" class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-facebook-f"></i></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i id="icon-red" class="fab fa-twitter"></i></a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="logo-final">
        <img src="/diseno/logos/at-logo-completo-45.png" alt="logo-alibatec" class="logo-footer">
    </div>
    <div class="copyright">
        <h2>Copyright © 2021 | Tecnología y soluciones digitales</h2>
    </div>

</footer>

</html>