<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibatec | Servicios</title>
    <link rel="shortcut icon" href="/diseno/logos/at-logo-favicon.png">
    <link rel="stylesheet" href="/css/style-index.css">
    <link rel="stylesheet" href="/css/style-service.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="header-content">
            <div class="header-phone">
                <div class="header-logo">
                    <a href="/"><img src="/diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"></a>
                </div>
<!--Menu responsive-->
                <div class="header-menu">
                    <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                    <ul class="menu">
                        <li class="menu-item-container-submenu">
                            <a href="/producto" class="submenu-btn">Productos <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-pro">
                                <li class="menu-item"><a href="">Computadoras</a></li>
                                <li class="menu-item"><a href="">Notebooks</a></li>
                                <li class="menu-item"><a href="">Tablets</a></li>
                                <li class="menu-item"><a href="">Telefonos</a></li>
                                <li class="menu-item"><a href="">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="/service">Servicios</a></li>
                        <li class="menu-item-container-submenu"><a href="#" class="submenu-btn">Cuenta <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu-cuenta">
                                <li class="menu-item"><a href="/register">Registrarse</a></li>
                                <li class="menu-item"><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="/productCart">Carrito</a></li>
                    </ul>
                </div>
            </div>
<!--menu header-->
            <div class="nav-complete">
                <nav class="nav-bar">
                    <ul class="lista-horizontal">
                        <li class="horizontal-item">
                        <a href="/producto" class="">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Computadoras</a></li>
                                <li><a href="#">Notebooks</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Telefonos</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="/service" class="">Servicios</a>
                        </li>
                    </ul>

                    <ul class="lista-horizontal">
                        <li class="horizontal-item"><a href="#">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/register">Registrarse</a></li>
                                <li><a href="/login">Iniciar sesión</a></li>
                            </ul>
                        </li>
                        <li class="horizontal-item">
                        <a href="/productCart"><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="somos-alib">
            <img src="/diseno/logos/at-logo-letra.png" alt="logo-letra-alibatec" class="log-alib">
            <br>
            <p>
                <strong>Somos un equipo de desarrolladores inspirados en la Tecnología con el fin comun de llevar a cada usuario los mejores productos y servicios.
                Contamos con amplio conocimiento de herramientas informáticas y nos adecuamos a diferentes industrias, aportando soluciones creativas y flexibilidad, adaptándonos a las estrategias y metas del negocio que deposita su confianza en nosotros.</strong>
            </p>
        </div>
        <div class="propuestas">
            <div class="propu">
                <img src="/img/marketing/desa-it.png" alt="develop">
                <h2 class="text">Diseño y desarrollo Web</h2>
            </div>
            <br>
            <div class="propu">
                <img src="/img/marketing/e-commerce.png" alt="e-commerce">
                <h2 class="text">E-commerce</h2>
            </div>
            <br>
            <div class="propu">
                <img src="/img/marketing/app-develop.png" alt="app-develop">
                <h2 class="text">Desarrollo de App mobile</h2>
            </div>
            <br>
            <div class="propu">
                <img src="/img/marketing/posicionamiento.jpg" alt="">
                <h2 class="text">Posicionamiento en buscadores</h2>
            </div>
        </div>
        <br>
        <form action="" method="GET" class="cuentanos">
            <p class="cuenta-alib">
                <label>Nombre Completo: </label>
                <input type="text" name="nombre" value="nombre">
            </p>
            <p class="cuenta-alib">
                <label>E-mail: </label>
                <input type="email" name="email" value="email" required>
            </p>
            <p class="coment-alib">
                <label class="contanos">Cuentanos de tu Proyecto, empresa o emprendimiento:</label>
                <textarea name="comentario" value="comentario">Comentario</textarea>
                <br>
                <button type="submit" class="boton-alib">Enviar</button>
            </p>
        </form>
    </main>
    <br>
</body>
<footer class="footer-complete">
    <div class="suscribirse">
        <div class="texto-sus">
            <h2 class="suscrib-text">¡Suscríbete!</h2>
            <p class="enterate">Entérate de nuestras promociones y novedades de productos</p>
        </div>
        <div class="sus-mail">
            <input type="email" name="email" placeholder="Tu correo electrónico" class="insert-email">
            <input type="submit" value="Suscribirse" class="enviar-sus"> 
        </div>
    </div>
    <br>
    <div class="contact-redes">
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Nosotros</h2>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">¿Qué ofrecemos?</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Métodos de pago</h2>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> Crédito | Débito | Giftcard</a></li>
                <li><a href="#"><i id="icon" class="far fa-money-bill-alt"></i> Rappipago | Pago fácil</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Contacto</h2>
                <li><a href="mailto:grupo3.alibatec@gmail.com"><i id="icon" class="far fa-envelope"></i> grupo3.alibatec@gmail.com</a></li>
                <li><a href="tel:+5491133202300"><i id="icon" class="far fa-credit-card"></i> +54 9 11 33202300</a></li>
                <li><a href="#"><i id="icon" class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            </ul>
        </div>
        <div class="siguenos">
            <h2 class="red">Siguenos en nuestras redes sociales</h2>
            <div class="iconos-redes">
                <ul class="ul-conct">
                    <li><a href="https://www.instagram.com" target="_blank"><i id="icon-red" class="fab fa-instagram"></i></a></li>
                    <li><a href="https://es-la.facebook.com/" target="_blank"><i id="icon-red" class="fab fa-facebook-f"></i></i></a></li>
                    <li><a href="//https://ar.linkedin.com/" target="_blank"><i id="icon-red" class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i id="icon-red" class="fab fa-twitter"></i></a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="logo-final">
        <img src="/diseno/logos/at-logo-completo-45.png" alt="logo-alibatec" class="logo-footer">
    </div>
    <div class="copyright">
        <h2>Copyright © 2021 | Tecnología y soluciones digitales</h2>
    </div>

</footer>  