/* -----Codigo Correspondiente a Body || Importado de styleIndex.css-----*/

/* -----Codigo Correspondiente a Header || Importado de styleIndex.css-----*/

/* -----Codigo Correspondiente a Formulario-----*/
.formulario__contenedor {
    background-color: gainsboro;
    width: 40%;
    height: 85vh;
    float: left;
}

/* -----Codigo Correspondiente a Banner-----*/

.banner{
    width: 60%;
    height: 85vh;
    float: right;
    background-image: url("/img/Marketing/at-marketing5.jpg");
}