*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: auto;
}
div.profile-complete{
    margin: 40px;
    padding: 10px; 
    border: solid 2px #ebebeb;

}
div.profile{
    margin:20px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
div.img-profile{
    margin: 20px;
    padding: 15px;
}
.profile-avatar{
    width: 190px;
    height: 200px;
    border-radius: 50%;
    
}

div.info-profile{
    font-size: 15px;
    text-align: center; 
}
div.info-profile > h2{
    text-decoration: underline;
}
h2 {
    color: rgb(0,171,240)
}

/*---> MEDIA QUERYS <---*/

@media (min-width: 768px) {

    div.profile-complete{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .profile-avatar{
        width: 250px;
        height: 270px;
    }
    div.info-profile{
        text-align: left;
        line-height: 23px;
    }


    
}