<!DOCTYPE html>
<html lang="es">

<!--Head-->
<%- include('./partials/head.ejs') %>

<!--Styles-->
<link rel="stylesheet" href="/css/style-login.css">

<!--Body Code-->
<body>
   
<!--Main Code-->
    <main>

        <div class="login">

            <div class="datos">

                <div class="contenedor-logo">
                    <a href="/"><img src="/img/at-logo-completo.png" alt="Logo de Alibatec"></a>
                </div>

                <h3> Ingresa a tu cuenta</h3>

                  <!--Codigo Correspondiente a formulario  -->

                <form action="" method="get">

                    <div class="nombre-usuario">
                        <label for="nombre-usuario"></label>
                        <input class="grande" type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Usuario" required >
                    </div>
        
                    <div class="password">
                        <label for="password"></label>
                        <input class="grande" type="password" name="password" id="password" placeholder="Contrase単a">
                    </div>
        
                    <div class="botones">
                        <button type="submit"> Ingresar</button>

                    </div>
                        
                    <p>多Olvidaste tu Contrase単a?</p>

                    <h3>多Aun no tienes cuenta?</h3>

                    <div class="botones">
                        <a href="/register"><button>Crear Cuenta</button></a>
                    </div>

                </form>

            </div>

            <!--Codigo Correspondiente a banner  -->
            <div class="banner">       
            </div>

        </div>


    </main>


</body>

</html>