<!DOCTYPE html>
<html lang="es">
  <!--Head-->
  <%- include('./partials/head.ejs')%>

  <!--Styles-->
  <link rel="stylesheet" href="/css/styles-prod-AddEdit.css"/>

  <!--Body Code-->
  <body>
    <!--Main Code-->
    <main>
      <!--Codigo Correspondiente a Section Formulario-->
      <div class="register">
        <form method="POST" action="" class="datos" enctype="multipart/form-data">
          <!--Codigo Correspondiente a Logo de Formulario-->
          <div class="contenedor-logo">
            <a href="/"><img src="/img/at-logo-completo.png" alt="Logo de Alibatec"/></a>
          </div>
          <h3>Edita tus productos</h3>

          <!--Codigo Correspondiente a Nombre de Producto-->
          <div class="formulario__grupo">
            <label for="nombre" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="nombre__producto"
                placeholder="<%= products.name %>"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Descripción-->
          <div class="formulario__grupo">
            <label for="apellido" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="textarea"
                class="formulario__input"
                name="descripción"
                placeholder="Descripción"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Imagen-->
          <div class="formulario__grupo">
            <label for="imagen" class="formulario__label"
              >Imagen de Producto</label
            >
            <div class="formulario__grupo-input">
              <input
                type="file"
                name="producto"
                multiple
                class="formulario__input"
                name="imagen"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Categoria-->
          <div class="formulario__grupo">
            <label for="categoria" class="formulario__label"
              >Selecciona su Categoria</label
            >
            <div class="formulario__categoria">
              <div>
                <label for="categorias">Celulares</label>
                <input type="checkbox" name="categorias" value="Celulares" />
                <br />
                <label for="categorias">Tablets</label>
                <input type="checkbox" name="categorias" value="Tablets" />
                <br />
                <label for="categorias">Notebook</label>
                <input type="checkbox" name="categorias" value="Notebook" />
                <br />
                <label for="categorias">PC</label>
                <input type="checkbox" name="categorias" value="PC" />
                <br />
                <label for="categorias">Varios</label>
                <input type="checkbox" name="categorias" value="Varios" />
                <br />
              </div>
            </div>
          </div>

          <!--Codigo Correspondiente a Colores-->
          <div class="formulario__grupo">
            <label for="color" class="formulario__label"
              >Seleccione un color</label
            >
            <div class="formulario__color">
              <select name="color">
                <option>Negro</option>
                <option>Gris</option>
                <option>Rojo</option>
                <option>Verde</option>
                <option>Azul</option>
                <option>Amarillo</option>
                <option>Naranja</option>
                <option>Violeta</option>
                <option>Marron</option>
              </select>
            </div>
          </div>

          <!--Codigo Correspondiente a Precio-->
          <div class="formulario__grupo">
            <label for="precio" class="formulario__label">Precio</label>
            <br />
            <input
              type="tel"
              class="formulario__input"
              name="precio"
              minlength="1"
              maxlength="8"
            />
          </div>

          <!--Codigo Correspondiente a Boton de Carga-->
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">
              Editar
            </button>
          </div>
        </form>

        <!--Codigo Correspondiente a Div Banner-->
        <div class="banner"></div>
      </div>
    </main>
  </body>
</html>
