<!DOCTYPE html>
<html lang="es">
  <!--Head-->
  <%- include('./partials/head.ejs')%>

  <!--Body Code-->
  <body>
    <!--Main Code-->
    <main class="main-add">
      <!--Codigo Correspondiente a Section Formulario-->
      <div class="register">
        <form method="POST" action="/productos" class="datos" enctype="multipart/form-data">
          <!--Codigo Correspondiente a Logo de Formulario-->
          <div class="contenedor-logo">
            <a href="/"><img src="/img/at-logo-completo.png" alt="Logo de Alibatec"/></a>
          </div>
          <h3>Carga tus productos</h3>

          <!--Codigo Correspondiente a Nombre de Producto-->
          <div class="formulario__grupo">
            <label for="name" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="name"
                id="name"
                placeholder="Marca Producto"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a model-->
          <div class="formulario__grupo">
            <label for="model" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="model"
                id="model"
                placeholder="Modelo del producto"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a price-->
          <div class="formulario__grupo">
            <label for="price" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="number"
                class="formulario__input"
                name="price"
                id="price"
                placeholder="Precio"
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Descuento-->
          <div class="formulario__grupo">
            <label for="discount" class="formulario__label"></label>
            <div class="formulario__grupo-input">
                <input
                  type="number"
                  class="formulario__input"
                  name="discount"
                  id="discount"
                  placeholder="Descuento"
                />
            </div>
          </div>

          <!--Codigo Correspondiente a vision general-->
          <div class="formulario__grupo">
            <label for="detail" class="formulario__label"></label>
            <div class="formulario__grupo-input">
                <textarea
                  class="formulario__input"
                  name="detail"
                  id="detail"
                  placeholder="Caracteristicas"
                >Vision general del producto</textarea>
            </div>
          </div>

          <!--Codigo Correspondiente a Categoria-->         
          <div class="formulario__categoria">
              <label class="category-text">Categoria</label> 
              <br>
                <label for="categoria_producto">Celulares</label>
                <input type="checkbox" name="categoria_producto" value="1" />
                <br />
                <label for="categoria_producto">Tablets</label>
                <input type="checkbox" name="categoria_producto" value="1" />
                <br />
                <label for="categoria_producto"></label>Notebook</label>
                <input type="checkbox" name="categoria_producto" value="1" />
                <br />
                <label for="categoria_producto">PC</label>
                <input type="checkbox" name="categoria_producto" value="2" />
                <br />
                <label for="categoria_producto">Accesorios</label>
                <input type="checkbox" name="categoria_producto" value="3"/>
                <br />
              
          </div>
          

          <!--Codigo Correspondiente a Imagen-->
          <div class="formulario__grupo">
            <label for="imagen" class="formulario__label">Imagen de Producto</label>
            <div class="formulario__grupo-input">
              <input
                type="file"
                name="imagen"
                id="imagen"
                multiple
                class="formulario__input"
              />
            </div>
          </div>

          <!--Codigo Correspondiente al estado-->
          <div class="formulario__grupo">
						<label for="estado" class="formulario__label">Estado:</label>
						<select name="estado" id="estado" class="fformulario__grupo-input">
							<option value="">Elegí</option>
							<option value="en-oferta">En oferta</option>
							<option value="destacado">Destacado</option>
              <option value="ninguno">Ninguno</option>
						</select>
					</div>

          <!--Codigo Correspondiente a Boton de Carga-->
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">
              Cargar
            </button>
          </div>
        </form>

        <!--Codigo Correspondiente a Div Banner-->
        <div class="banner"> </div>
        
      </div>
    </main>
  </body>
</html>