<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="profile-complete">
            <div class="img-profile">
                <img src="" alt="">
            </div>
            <div class="info-profile">
                <h3>name</h3>
                <h3>email</h3>
                <h3>categoría</h3>
            </div>
        </div>
    </main>
</body>
<%- include('./partials/footer.ejs')  %>
</html>