<!DOCTYPE html>
<html lang="es">
  <!--Head-->
  <%- include('./partials/head.ejs') %>

  <!--Styles-->
  <link rel="stylesheet" href="/css/style-register.css" />

  <!--Body Code-->
  <body>
    <!--Main Code-->
    <main>
      <!--Codigo Correspondiente a Section Formulario-->
      <div class="register">
        <form method="post" action="" class="datos">
          <!--Codigo Correspondiente a Logo de Formulario-->
          <div class="contenedor-logo">
            <a href="/"
              ><img src="/img/at-logo-completo.png" alt="Logo de Alibatec"
            /></a>
          </div>

          <h3>Creá tu cuenta</h3>

          <!--Codigo Correspondiente a Grupo Nombre-->
          <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="nombre"
                id="nombre"
                placeholder="Nombre"
                required
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Grupo Apellido-->
          <div class="formulario__grupo" id="grupo__apellido">
            <label for="apellido" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="text"
                class="formulario__input"
                name="apellido"
                id="apellido"
                placeholder="Apellido"
                required
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Grupo E-Mail-->
          <div class="formulario__grupo" id="grupo__email">
            <label for="email" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="email"
                class="formulario__input"
                name="email"
                id="email"
                placeholder="E-Mail"
                required
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Grupo Contraseña-->
          <div class="formulario__grupo" id="grupo__password">
            <label for="password" class="formulario__label"></label>
            <div class="formulario__grupo-input">
              <input
                type="password"
                class="formulario__input"
                name="password"
                id="password"
                placeholder="Contraseña"
                required
              />
            </div>
          </div>

          <!--Codigo Correspondiente a Terminos y Condiciones-->
          <div class="formulario__grupo" id="grupo__tyc">
            <label class="formulario__label">
              <input
                class="formulario__checkbox"
                type="checkbox"
                name="tyc"
                id="tyc"
                required
              />
              Acepto los Terminos y Condiciones
            </label>
          </div>

          <!--Codigo Correspondiente a Boton de Envio-->
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
          </div>

          <h3>¿Ya sos usuario?</h3>

          <div>
            <button class="formulario__btn">
              <a href="/login"></a>
              Ingresar
            </button>
          </div>
        </form>

        <!--Codigo Correspondiente a Div Banner-->
        <div class="banner"></div>
      </div>
    </main>
  </body>
</html>
