<!--VIEW FOOTER EJS-->
<footer class="footer-complete">
    <div class="suscribirse">
        <div class="texto-sus">
            <h2 class="suscrib-text">¡Suscríbete!</h2>
            <p class="enterate">Entérate de nuestras promociones y novedades de productos</p>
        </div>
        <div class="sus-mail">
            <input type="email" name="email" placeholder="Tu correo electrónico" class="insert-email">
            <input type="submit" value="Suscribirse" class="enviar-sus"> 
        </div>
    </div>
    <br>
    <div class="contact-redes">
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Nosotros</h2>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">¿Qué ofrecemos?</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Métodos de pago</h2>
                <li><a href="#"><i id="icon" class="far fa-credit-card"></i> Crédito | Débito | Giftcard</a></li>
                <li><a href="#"><i id="icon" class="far fa-money-bill-alt"></i> Rappipago | Pago fácil</a></li>
            </ul>
        </div>
        <div class="nos-met-con">
            <ul class="ul-conct">
                <h2 class="nos">Contacto</h2>
                <li><a href="mailto:grupo3.alibatec@gmail.com"><i id="icon" class="far fa-envelope"></i> grupo3.alibatec@gmail.com</a></li>
                <li><a href="tel:+5491133202300"><i id="icon" class="far fa-credit-card"></i> +54 9 11 55202600</a></li>
                <li><a href="https://www.google.com.ar/maps/"><i id="icon" class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            </ul>
        </div>
        <div class="siguenos">
            <h2 class="red">Siguenos en nuestras redes sociales</h2>
            <div class="iconos-redes">
                <ul class="ul-conct">
                    <li><a href="https://www.instagram.com" target="_blank"><i id="icon-red" class="fab fa-instagram"></i></a></li>
                    <li><a href="https://es-la.facebook.com/" target="_blank"><i id="icon-red" class="fab fa-facebook-f"></i></i></a></li>
                    <li><a href="https://ar.linkedin.com/" target="_blank"><i id="icon-red" class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i id="icon-red" class="fab fa-twitter"></i></a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="logo-final">
        <a href="/"><img src="/diseno/logos/at-logo-completo-45.png" alt="logo-alibatec" class="logo-footer"></a>
    </div>
    <div class="copyright">
        <h2>Copyright © 2021 | Tecnología y soluciones digitales</h2>
    </div>

</footer>