<!--VIEW HEADER EJS-->
<header class="header">
    <div class="header-content">
        <div class="header-phone">
            <div class="header-logo">
                <a href="/"><img src="/diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"></a>
            </div>
<!--Menu responsive-->
            <div class="header-menu">
                <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                <ul class="menu">
                    <li class="menu-item-container-submenu">
                        <a href="" class="submenu-btn">Productos<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu-pro">
                            <li class="menu-item"><a href="">Computadoras</a></li>
                            <li class="menu-item"><a href="">Port치tiles</a></li>
                            <li class="menu-item"><a href="">Celulares</a></li>
                            <li class="menu-item"><a href="">Accesorios</a></li>
                            <li class="menu-item"><a href="/productos">Ver Todos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/service">Servicios</a></li>
                    <li class="menu-item-container-submenu"><a href="#" class="submenu-btn">Cuenta <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu-cuenta">
                            <li class="menu-item"><a href="/user/register">Registrarse</a></li>
                            <li class="menu-item"><a href="/user/login">Iniciar sesi칩n</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/productos/shop">Carrito</a></li>
                </ul>
            </div>
        </div>
<!--menu header-->
        <div class="nav-complete">
            <nav class="nav-bar">
                <ul class="lista-horizontal">
                    <li class="horizontal-item">
                    <a href="/productos">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#">Computadoras</a></li>
                            <li><a href="#">Port치tiles</a></li>
                            <li><a href="#">Celulares</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </li>
                    <li class="horizontal-item">
                    <a href="/service">Servicios</a>
                    </li>
                </ul>

                <ul class="lista-horizontal">
                    <li class="horizontal-item"><a href="#">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="/user/register">Registrarse</a></li>
                            <li><a href="/user/login">Iniciar sesi칩n</a></li>
                        </ul>
                    </li>
                    <li class="horizontal-item">
                    <a href="/productos/shop" class="/productCart"><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>