<!--VIEW HEADER EJS-->
<header class="header">
    <div class="header-content">
        <div class="header-phone">
            <div class="header-logo">
                <a href="/"><img src="/diseno/logos/at-logo-completo.png" alt="logo Alibatec" class="logo"></a>
            </div>
<!--Menu responsive-->
            <div class="header-menu">
                <a href="#"><i id="sim-men" class="fas fa-angle-double-down"></i></a>
                <ul class="menu">
                    <li class="menu-item-container-submenu">
                        <a class="submenu-btn-pro">Productos<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu-pro">
                            <li class="menu-item"><a href="">Computadoras</a></li>
                            <li class="menu-item"><a href="">Portátiles</a></li>
                            <li class="menu-item"><a href="">Accesorios</a></li>
                            <li class="menu-item"><a href="/productos">Ver Todos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/service">Servicios</a></li>
                    <li class="menu-item-container-submenu"><a href="#" class="submenu-btn">Cuenta <i class="fas fa-chevron-down"></i></a>
                        <% if (locals.isLogged) { %>
                        <ul class="submenu-cuenta">
                            <li class="menu-item"><a href="/user/profile/<%= locals.userLogged.id %> ">Mi perfil</a></li>
                            <li class="menu-item"><a href="/user/logout">Cerrar sesión</a></li>       
                        </ul>
                        <% } else { %>      
                        <ul class="submenu-cuenta">
                            <li class="menu-item"><a href="/user/register">Registrarse</a></li>
                            <li class="menu-item"><a href="/user/login">Iniciar sesión</a></li>
                        </ul>
                        <% } %>
                    </li>
                    <% if (locals.isLogged) { %>
                    <li class="menu-item"><a href="/productos/shop">Carrito</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
<!--menu header-->
        <div class="nav-complete">
            <nav class="nav-bar">
                <ul class="lista-horizontal">
                    <li class="horizontal-item" id="horizontal-item1">
                    <a href="/productos">Productos <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        <!-- <ul class="submenu" id="submenu-prod">
                            <li><a href="#">Computadoras</a></li>
                            <li><a href="#">Portátiles</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul> -->
                    </li>
                    <li class="horizontal-item">
                    <a href="/service">Servicios</a>
                    </li>
                </ul>

                <ul class="lista-horizontal">
                    <% if (locals.isLogged) { %>
                    <li class="horizontal-item" id="horizontal-item3"><a href="#"><%= locals.userLogged.name %><i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        <ul class="submenu" id="submenu-cuenta-usuario">
                            <li><a href="/user/profile/<%= locals.userLogged.id %> ">Mi perfil</a></li>
                            <li><a href="/user/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <% }else{ %>
                    <li class="horizontal-item" id="horizontal-item2"><a href="#">Cuenta <i id="iconos-header" class="fas fa-chevron-down"></i></a>
                        <ul class="submenu" id="submenu-cuenta">
                            <li><a href="/user/register">Registrarse</a></li>
                            <li><a href="/user/login">Iniciar sesión</a></li>
                        </ul>
                    </li>
                    <% } %>
                    <% if (locals.isLogged) { %>
                    <li class="horizontal-item">
                    <a href="/productos/shop" class="/productCart"><i id="iconos-header" class="fas fa-shopping-cart"></i></a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/JS/header.js"></script>
    <script>
        const horizontalItemId3 = document.getElementById('horizontal-item3')
        horizontalItemId3.addEventListener('mouseover', () => {
            submenuCuentaUser.style.overflow = 'visible'
            submenuCuentaUser.style.opacity = 1
            submenuCuentaUser.style.top = '40px'
        })
        horizontalItemId3.addEventListener('mouseout', () => {
            submenuCuentaUser.style.opacity = 0
        })
    </script>
</header>