<!--VIEW HEAD EJS-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibatec | Tecnología y soluciones digitales</title>
    <link rel="shortcut icon" href="/diseno/logos/at-logo-favicon.png">
    <!--Styles CSS-->
    <link rel="stylesheet" href="/css/style-index.css">
    <link rel="stylesheet" href="/css/style-prod-detail.css">
    <link rel="stylesheet" href="/css/styles-prod-AddEdit.css">
    <link rel="stylesheet" href="/css/style-profile.css">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--G FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>