
<!--OFERTAS INDEX-->
<section class="ofertas">
    <div class="pro-oferta">
        <div class="imagen-prod">
            <img class="imag" src="<%= ofertasIndex.img %> " alt="tab-lenovo">
        </div>
        <div class="ofer-detalle">
            <div class="pro-deta">
                <div class="tip">
                    <a href="/producto"> <%= ofertasIndex.producto %> </a>
                </div>
             <a href="/producto" class="descu"><%= ofertasIndex.descuento %> </a>
            </div>
            <div class="buys">
                <a href="/producto" class="buys-btn">Comprar Ahora</a>
            </div>
        </div>
    </div>
   